<a href="https://colab.research.google.com/github/nhattminh160901/Bai_Tap/blob/main/DoAn_2022/10_3_2022/pandas_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:
- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào
- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào
- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập
- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập
- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống
Hãy:
- Tạo 1 dataframe bằng cách ghép các series trên lại với nhau
- Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:
Thực lĩnh = “Số h công” x “Tiền công/h”

- Hãy in toàn bộ dataframe ở trên ra màn hình

In [19]:
import pandas as pd
import string
import random

ho = ["Nguyễn", "Lê", "Hoàng", "Hồ"]
dem = ["Nhật", "Minh", "Văn", "Trọng"]
ten = string.ascii_uppercase

def inputDatas(datas):
  for i in range(10):
    data = input("input data: ")
    datas.append(data)
  return datas

num = [i for i in range(10)]
hvt = [random.choice(ho)+" "+random.choice(dem)+" "+random.choice(ten) for i in range(10)]
ns = []
tch = [random.randint(10000, 20000) for i in range(10)]
h = [random.randint(1, 10) for i in range(10)]

print("Ngày sinh")
inputDatas(ns)

Ngày sinh
input data: 16/09/2001
input data: 15/05/1998
input data: 25/10/2002
input data: 01/02/1996
input data: 12/01/1994
input data: 19/02/2002
input data: 31/12/2001
input data: 30/03/2002
input data: 15/03/1998
input data: 01/06/2001

['16/09/2001',
 '15/05/1998',
 '25/10/2002',
 '01/02/1996',
 '12/01/1994',
 '19/02/2002',
 '31/12/2001',
 '30/03/2002',
 '15/03/1998',
 '01/06/2001']

In [20]:
sr1 = pd.Series(data=hvt, index=num)
sr2 = pd.Series(data=ns, index=num)
sr3 = pd.Series(data=tch, index=num)
sr4 = pd.Series(data=h, index=num)
sr5 = pd.Series(data=None, index=num)

datas = {
    "Họ và tên": sr1,
    "Ngày sinh": sr2,
    "Tiền công/h": sr3,
    "Số h công": sr4,
    "Thực lĩnh": [sr3[i]*sr4[i] for i in range(10)]
}

df = pd.DataFrame(datas)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """

       Họ và tên   Ngày sinh  Tiền công/h  Số h công  Thực lĩnh
0      Hồ Nhật B  16/09/2001        15480          6      92880
1   Hoàng Nhật B  15/05/1998        10366          9      93294
2      Lê Nhật W  25/10/2002        16282          6      97692
3      Hồ Nhật X  01/02/1996        16945          5      84725
4  Nguyễn Nhật T  12/01/1994        10809          2      21618
5      Lê Nhật H  19/02/2002        16240          5      81200
6      Hồ Nhật T  31/12/2001        18863          3      56589
7       Hồ Văn K  30/03/2002        17144          6     102864
8      Hồ Minh H  15/03/1998        16271          5      81355
9   Hoàng Nhật H  01/06/2001        13892         10     138920

Câu 2: Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:
- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe
này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;
- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng
với key. Xuất kết quả ra màn hình;
- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn
hình;
- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo
dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [21]:
hvt__ = [random.choice(ho)+" "+random.choice(dem)+" "+random.choice(ten) for i in range(10)]
tuoi = [random.randint(18, 30) for i in range(10)]
gt = [random.choice(["Nam", "Nữ"]) for i in range(10)]
data = {
    "Họ tên": hvt__,
    "Tuổi": tuoi,
    "Giới tính": gt
}
df = pd.DataFrame(data)
df

           Họ tên  Tuổi Giới tính
0   Hoàng Trọng X    25       Nam
1    Hoàng Minh W    27        Nữ
2   Hoàng Trọng F    20        Nữ
3    Nguyễn Văn L    18        Nữ
4    Hoàng Nhật Z    28        Nữ
5    Nguyễn Văn Y    22       Nam
6       Hồ Nhật Q    26        Nữ
7  Nguyễn Trọng D    20       Nam
8        Hồ Văn A    21       Nam
9   Nguyễn Minh Q    25        Nữ

In [22]:
values1to10 = [i+1 for i in range(10)]
values11to20 = [i+1 for i in range(10, 20)]

datas = {
    "1 tới 10": values1to10,
    "11 tới 20": values11to20
}
df = pd.DataFrame(datas)
df

   1 tới 10  11 tới 20
0         1         11
1         2         12
2         3         13
3         4         14
4         5         15
5         6         16
6         7         17
7         8         18
8         9         19
9        10         20

In [23]:
df = pd.DataFrame(datas.values())
df

    0   1   2   3   4   5   6   7   8   9
0   1   2   3   4   5   6   7   8   9  10
1  11  12  13  14  15  16  17  18  19  20

In [24]:
df = pd.DataFrame(zip(hvt__, tuoi, gt))
df

                0   1    2
0   Hoàng Trọng X  25  Nam
1    Hoàng Minh W  27   Nữ
2   Hoàng Trọng F  20   Nữ
3    Nguyễn Văn L  18   Nữ
4    Hoàng Nhật Z  28   Nữ
5    Nguyễn Văn Y  22  Nam
6       Hồ Nhật Q  26   Nữ
7  Nguyễn Trọng D  20  Nam
8        Hồ Văn A  21  Nam
9   Nguyễn Minh Q  25   Nữ